body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/fotos_salgados.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}
